body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d8b62e;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 10px;
}

.image-placeholder {
padding: 20px auto;
margin: 30px auto;
}